body {
  height: 100vh;
  
}

span {
display: block;
}

.text {
  transition: all .3s;
  font-size: 26px;
}

.text:hover {
  font-size: 32px;
  color: red;
  font-weight: 700;
}

.text:hover span {
  color: blue;
}
